.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 40px 20px var(--shadow-light);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  border: solid 1pxrgba(255,255,255,0.2);
  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    img {
      object-fit: cover;
      height: 500px;
      width: 700px;
    }
  }
  &__content {
    position: absolute;
    bottom: -1600px;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    transition: bottom 0.5s;
    &--box {

      h3 {
        color:white;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
      }

    }
    &--sci {
      display: flex;
      li { 
        flex-direction: row;
        margin: auto;
        list-style: none;
        font-size: 2rem;
      }
    }
  }

}

.card:hover .card__content {
  bottom: 0px;
}