// Animations for the page transitions

.transition {
    position: fixed;
    z-index: 101;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));;
    transition: 0.4s ease-out;
    pointer-events: none;

    &-1{
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        &.is-active{
            left: 0;
        }
    }

    &-2{
        top: 0;
        left: -100%;
        width: 100%;
        right: 0;
        bottom: 0; 
        &.is-active{
            left:0;
        }
    }
    &-3 {
        top: 100%;
        left: -0;
        width: 100%;
        right: 0;
        bottom: 0;
        &.is-active {
            top:0;
        }
    }
    &-4 {
        top: 0;
        left: 0;
        width: 100%;
        right: 0;
        bottom: 100%;

        &.is-active {
            bottom:0;
        }
    }

}
